<!--
 * @Author: Weisen
 * @Date: 2019-09-29 09:49:12
 * @Github: https://github.com/weisen0304
 -->
<aside class="Hui-admin-aside-wrapper">
	<div class="Hui-admin-logo-wrapper">
		<a class="logo navbar-logo" href="/admin/manager">
			<i class="va-m iconpic global-logo"></i>
			<img width="100" src="../../../public/admin/static/vipgo_logo.png" />
		</a>
	</div>
	<div class="Hui-admin-menu-dropdown bk_2">
		<dl class="Hui-menu selected" id="menu-admin">
			<dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
			<dd class="Hui-menu-item" style="display: block;">
				<ul>
					<li><a href="/admin/manager" title="管理员列表">管理员列表</a></li>
					<li><a href="/admin/role" title="角色管理">角色管理</a></li>
					<li><a href="/admin/access" title="权限管理">权限管理</a></li>

				</ul>
			</dd>
		</dl>

		<dl class="Hui-menu" id="menu-article">
			<dt class="Hui-menu-title selected"><i class="Hui-iconfont">&#xe62d;</i> 优惠券管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
			<dd class="Hui-menu-item" style="display: block;">
				<ul>
					<li><a href="/coupon/manager" title="管理员列表">优惠券列表</a></li>

				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="Hui-admin-aside-mask"></div>